<%# if user not signed in ==> LOGO ..................... SIGN IN %>
<%# if user signed in ==> MENU ..................... PROFILE %>
<div class="navbar">

  <%# link to home user page, add a logo %>
  <div class="logo">
    <%= link_to "#" do %>
      <img src="https://images.vexels.com/media/users/3/234700/isolated/preview/75b118051c49030ad7876d7504c89be7-swirly-bee-flat.png" alt="bee planning logo" class ="logo-image">
    <% end %>
  </div>

  <%# burger icon %>
  <div class="navbar-toggle" data-controller="navbar">
    <button  data-navbar-target="button" data-action="click->navbar#toggle" class="mobile-nav-toggle-icon"  aria-controls="menu-items" aria-expanded="false">
      <i class="fas fa-bars" data-navbar-target="icon">
        <span class="sr-only">Menu</span>
      </i>
    </button>
    <div class="toggled-menu" >
      <%# app menu %>
      <% if user_signed_in? %>
        <ul class="menu-items" data-navbar-target="menu">
          <li class="nav-item tab">
            <%= link_to "Home", "#", class: "nav-link" %>
          </li>
          <li class="nav-item tab">
            <%= link_to "Studies", "#", class: "nav-link" %>
          </li>
          <li class="nav-item tab">
            <%= link_to "Calendar", "#", class: "nav-link" %>
          </li>
          <li class="nav-item tab">
            <%= link_to "Lifestyle", "#", class: "nav-link" %>
          </li>
          <li class="nav-item tab">
            <%= link_to "Social", "#", class: "nav-link" %>
          </li>
          <li class="nav-item tab">
            <%= link_to "Food", "#", class: "nav-link" %>
          </li>

          <%# profile avatar with dropdown to see profile details or logout %>
          <li class="profile nav-item dropdown">
            <button class="avatar-block">
              <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" alt="user-avatar" class="avatar">
            </button>
            <ul class="dropdown-items">
              <li><%= link_to "My Profile", "#" %></li>
              <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        </ul>
          <%# landing page menu %>
        <% else %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
        <% end %>
    </div>
    <%# end burger icon %>
  </div>
</div>
<script>
let resizeTimer;
window.addEventListener("resize", () => {
  document.body.classList.add("resize-animation-stopper");
  clearTimeout(resizeTimer);
  resizeTimer = setTimeout(() => {
    document.body.classList.remove("resize-animation-stopper");
  }, 400);
});
</script>
