<!DOCTYPE html>
<html>
  <head>
    <title>BeePlanning</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="page-container">
    <%# <%= render 'shared/navbar' %>
    <%= render 'shared/pages_banner'%>
      <main id="main-content">
    <%= render 'shared/flashes' %>
    <%= yield %>
  </div>
  </body>
</html>
